# Ignore everything in figures directory except PNGs and TEX files
docs/figures/*
!docs/figures/*.png
!docs/figures/*.tex

local/
.env 
.gitattributes
.DS_Store


# Large dataset files
datasets/

# Python cache
__pycache__/
*.pyc
